@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');
  
        :root {
            font-family: "Bangers";
        }
        header {
            background-color: black;
            text-align: center;
            position: relative;
            
        

        
            
        }
        footer {
            background-color: black;
            text-align: center;
        }
        