@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
}

:root {
    font-family: "Bangers";
    scroll-behavior: smooth;
}

img {
    max-width: 100%;
    display: block;
}

#box {
    background-color: black;
    box-orient: horizontal;
    align-items: center;
    display: flex;
    height: 70px;
}

.logo {
    width: 10%;
    margin-right: 40px;
    margin-top: 30px;
    padding-left: 150px;
}

.menu {
    margin-left: auto;
    margin-right: 200px;
    margin-top: 40px;
}

#nav {
    color: white;
    text-align: right;
    margin-left: auto;
    text-decoration: none;
    list-style-type: none;
}

.menu a {
    color: white;
    text-decoration: none;
    font-size: 14px;
    font-family: Roboto;
    font-weight: 400;
    font-style: normal;
    font-weight: 700;
    padding-right: 70;
}

.menu a:hover {
    color: turquoise;
    text-decoration: underline;
}

#nav a {
    margin-right: 30px;
}

#nav li {
    display: inline;
}

ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 90px;
}

.clock {
    font-size: 40px;
    color: turquoise;
    padding-left: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    margin-right: 1300px;
    background-color: black;

}
.clock-text {
    font-size: 20px;
    margin-right: 1290px;
}
.social-media {
    text-align: center;
    background-color: rgb(0, 0, 0);
    margin-left: auto;
    padding-right: 70px;
}

.social-media img {
    width: 25px;
    height: 25px;
    padding-right: 15px;
    display: inline;
    padding-top: 40px;
}

.social-media img:hover {
    background-color: black;
}

@media (min-width:600px) {
    header nav div .container {
        display: flex;
    }
}

header .banner {
    background-image: url(../img/background-hoody.webp);
    background-size: cover;
    background-position: center;
    display: flex;
    min-height: 900px;
    align-items: flex-end;
    justify-content: center;
    flex-direction: column;
    color: white;
    
}

.banner-main {
    display: flex;
    font-size: 66px;
    padding-right: 150px;
}

.banner-text {
    text-align: right;
    font-size: 19px;
    padding-top: 30px;
    padding-right: 310px;
    font-family: "Roboto";
    font-weight: bold;
}

.banner-button {
    font-size: 19px;
    font-family: "Roboto";
    font-weight: bold;
    color: white;
    text-transform: capitalize;
    background-color: turquoise;
    border: 0;
    border-radius: 4px;
    width: 141px;
    height: 55px;
    margin-right: 455px;
    margin-top: 30px;
}

.background {
    background: url(../img/background-aboutus.webp);
    background-size: 100% auto;
    background-position: center top;
    position: relative;
    height: 675px;
}

.background-text {
    padding-left: 100px;
    padding-top: 200px;
    padding-bottom: 0px;

}

.about-us {
    text-align: right;
    font-size: 56px;
    padding-right: 623px;
    padding-top: 10px;
}

.selection {
    text-align: right;
    font-size: 18px;
    padding-top: 20px;
    padding-right: 500px;
    font-family: "Roboto";
    font-weight: bold;
}

.about-text {
    text-align: right;
    font-size: 16px;
    padding-right: 310px;
    padding-top: 20px;
    font-family: "Roboto";
    justify-content: left;
}
.horizontal-line {
    width: 80px;
    height: 4px;
    margin-left: 750px;
    background-color: turquoise;
    border: 0;
    margin-top: 30px;
    margin-bottom: 30px;
}
.horizontal-line-about {
    width: 80px;
    height: 4px;
    margin-left: 790px;
    background-color: turquoise;
    border: 0;
    margin-top: 30px;
    margin-bottom: 30px;
}
.new-collection{
    text-align: center;
    font-size: 58px;
    margin-top: 100px;
    margin-bottom: -20px;
}
.wrapper {
    display: grid;
    grid-template-columns: 500px 500px 500px;
    grid-gap: 10px;
    margin-left: 50px;
  }
  
  .box {
    border-radius: 5px;
    padding: 50px;
    font-size: 150%;
  }
p {
    display: block;
}
h2 {
    text-align: center;
    font-size: 19px;
    font-family: roboto;
}
h3 {
    text-align: center;
    font-size: 57px;
    letter-spacing: 1px;
}
h4 {
    text-align: center;
    font-size: 16px;
    letter-spacing: 1px;
    font-family: roboto;
    margin-top: 20px;
}
.why-choose-us {
    background-color: black;
    color: white;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 70px;
}
.box-container {
    height: 100%;
    width: 100%;
    background-color: black;
    font-size: 150%;
    color: white;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    background-color: black;
}

.wcd-icon {
    padding-left: 70px;
    margin-top: -100px;
    padding-bottom: 100px;
}
.d1 {
    text-align: center;
    grid-column: 1 / 3;
}
.d2 {
    text-align: center;
    grid-column: 3 / 5;
}

.d3 {
    text-align: center;
    grid-column: 1 / 3;
}

.d4 {
    text-align: center;
    grid-column: 3 / 5;
}
.count {
    margin-top: 100px;
    margin-bottom: 50px;
    justify-content: center;
}
.our-team{
    text-align: center;
    font-size: 58px;
    margin-top: 100px;
    margin-bottom: -20px;
}
.team{
    text-align: center;
    font-size: 58px;
    margin-top: 40px;
    margin-bottom: 20px;
}
.team-wrapper {
    display: grid;
    grid-template-columns: 500px 500px 500px;
    grid-gap: 10px;
    margin-left: 50px;
  }
  #contacts {
      background-color: rgb(248, 245, 240);
  }
.contacts-wrapper {
    display: grid;
    grid-template-columns: 700px 700px;
    grid-gap: 100px;
    margin-left: 150px;
    padding-bottom: 50px;
  }
.contacts-adress {
    text-align: left;
}
.address {
    font-size: 56px;
    padding-bottom: 30px;
}
.address-h-c {
    font-size: 22px;
    padding-bottom: 10px;
    padding-top: 20px;
}
.address-numbers {
    font-family: roboto;
    font-size: 16px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-top: 20px;
}
.text {
    height: 50px;
    width: 350px;
    border-radius: 13px;
    padding-left: 20px;
}

.coll-count {
    background-color:white;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 40vh;
    color:black;
    font-family: 'bangers', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0;
    overflow: hidden;
    margin-bottom: -50px;
  }
  
  coll-count * {
    z-index: 1;
  }
  
  h1 {
    font-size: 60px;
    margin: -80px 0 40px;
  }

  .year {
    font-size: 200px;
    z-index: -1;
    opacity: 0.2;
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
  }
  
  .countdown {
    /* display: flex; */
    display:flex;
    transform: scale(2);
  }
  
  .time {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 15px;
  }
  
  .time h2 {
    margin: 0 0 5px;
    color: turquoise;
  }
  
  @media (max-width: 500px) {
    h1 {
      font-size: 45px;
    }
  
    .time {
      margin: 5px;
    }
  
    .time h2 {
      font-size: 12px;
      margin: 0;
    }
  
    .time small {
      font-size: 10px;
    }
  }


  button, button::after {
    width: 280px;
    height: 86px;
    font-size: 36px;
    font-family:'Bebas Neue', cursive;
    background: linear-gradient(45deg, transparent 5%, #33d7dd 5%);
    border: 0;
    color: #fff;
    letter-spacing: 3px;
    line-height: 88px;
    box-shadow: 6px 0px 0px #00E6F6;
    outline: transparent;
    position: relative;
    margin-right: 320px;
    margin-top: 30px;
    
  }
  
  button::after {
    --slice-0: inset(50% 50% 50% 50%);
    --slice-1: inset(80% -6px 0 0);
    --slice-2: inset(50% -6px 30% 0);
    --slice-3: inset(10% -6px 85% 0);
    --slice-4: inset(40% -6px 43% 0);
    --slice-5: inset(80% -6px 5% 0);
    
    content: 'NEW COLLECTION';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(45deg, transparent 3%, #00E6F6 3%, #00E6F6 5%, #FF013C 5%);
    text-shadow: -3px -3px 0px #F8F005, 3px 3px 0px #00E6F6;
    clip-path: var(--slice-0);
  }
  
  button:hover::after {
    animation: 1s glitch;
    animation-timing-function: steps(2, end);
  }
  
  @keyframes glitch {
    0% {
      clip-path: var(--slice-1);
      transform: translate(-20px, -10px);
    }
    10% {
      clip-path: var(--slice-3);
      transform: translate(10px, 10px);
    }
    20% {
      clip-path: var(--slice-1);
      transform: translate(-10px, 10px);
    }
    30% {
      clip-path: var(--slice-3);
      transform: translate(0px, 5px);
    }
    40% {
      clip-path: var(--slice-2);
      transform: translate(-5px, 0px);
    }
    50% {
      clip-path: var(--slice-3);
      transform: translate(5px, 0px);
    }
    60% {
      clip-path: var(--slice-4);
      transform: translate(5px, 10px);
    }
    70% {
      clip-path: var(--slice-2);
      transform: translate(-10px, 10px);
    }
    80% {
      clip-path: var(--slice-5);
      transform: translate(20px, -10px);
    }
    90% {
      clip-path: var(--slice-1);
      transform: translate(-10px, 0px);
    }
    100% {
      clip-path: var(--slice-1);
      transform: translate(0);
    }
  }